* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    color: #444;
    line-height: 1.8;
}

h1, h2 {
    font-family: cursive;
    color: #333;
    text-align: center;
    font-size: 42px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #333;
    color: white;
    border-bottom: 2px solid #ffad5b;
    font-family: 'Times New Roman', Times, serif;
}

.logo img{
    width: 300px;
}

header .logo h1 {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #ffad5b;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="checkbox"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #ffad5b;
    color: rgb(0, 0, 0);
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #cb5a43;
}

.section-title {
    border-bottom: 2px solid #ffad5b;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-size: 20px;
}

.info-text {
    font-size: 14px;
    color: #495057;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    font-family: cursive;
}

footer a {
    color: #ffad5b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}